@charset "UTF-8";

* {
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: black;
}
li {
	list-style: none;
}

body {
	background-color: #f4fbff;
}
button {
	border: 0;
	outline: 0;
	padding: 5px;
}
#header {
	height: 100px;
	text-align: center;
	border-bottom: 1px solid #58606D;
	position: relative;
}
#logo-link {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	height: 100px;
	background-color: rgba(0, 0, 0, 0);
}
#member-box {
	position: absolute;
	top: 50px;
	left: 90%;
	transform: translate(0%, -50%);
}
#logout-btn, #join-btn {
	margin-left: 5px;
	border-radius: 5px;
}
#login-btn {
	border-radius: 5px;
}
#logo {
	height: 100px;
}

#photo img {
	margin: 40px 0;
	height: 20px;
}
main {
	width: 80%;
	margin-top: 30px;
}
#icon-bar {
	width: 50%;
	height: 160px;
	display: flex;
	flex-direction: row;
}
#icon-bar > div {
	width: 25%;
	text-align: center;
}
#icon-bar img {
	margin: 40px 0;
	height: 80px;
}
#header-icon {
	position: absolute;
	top: 100px;
	width: 100%;
	height: 150px;
	background-color: rgba(244, 251, 255, 0.5);
	visibility: hidden;
	z-index: 50;
}
hr {
	height: 1px;
	background: #bbbbbb;
	background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
	background-image: -moz-linear-gradient(left, #eee, #777, #eee);
	background-image: -ms-linear-gradient(left, #eee, #777, #eee);
	background-image: -o-linear-gradient(left, #eee, #777, #eee);
	border: 0;
	margin: 5px 0;
}