@charset "UTF-8";

tr{
 background-color: #77adea;
 height: 60px;

}

body {
}
button {
	border: 0;
	outline: 0;
	padding: 0px;
}

#cnts {
		 backgroung-color:#77adea;
		
		}

#logo-link {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	height: 100px;
	background-color: rgba(0, 0, 0, 0);
}
#member-box {
	position: absolute;
	top: 50px;
	left: 90%;
	transform: translate(0%, -50%);
}
#center-box
{
	position: center;
	border-radius: 5px;
}
.right-box {
	text-align: center;
}
#right-box
{
	border: 2px;
}
#logout-btn, #join-btn {
	margin-left: 5px;
	border-radius: 5px;
}
#login-btn {
	border-radius: 5px;
}
#logo {
	height: 100px;
}

#photo img {
	margin: 40px 0;
	height: 20px;
}

#profile img {
	float: left;
	width : 15%;
	height : 30px;	
}

#icon-bar {
	width: 50%;
	height: 160px;
	display: flex;
	flex-direction: row;
}
#icon-bar > div {
	width: 25%;
	text-align: center;
}
#icon-bar img {
	margin: 40px 0;
	height: 80px;
}
#header-icon {
	position: absolute;
	top: 100px;
	width: 100%;
	height: 150px;
	background-color: rgba(244, 251, 255, 0.5);
	visibility: hidden;
	z-index: 50;
}

#ckd_div {
			width : 80%;
			height : 470px;
			overflow : auto;
		}
#memo_header_div {
		width : 80%;
		height : 30px;
		background-color: #77adea;
		border : 1px solid gray;
		overflow : 100 auto;
		}

#memo_list_div {
			float: left;
			width : 80%;
			height : 470px;
			border : 1px solid gray;
			background-color: #77adea;
			
		}


textarea {
		 backgroung-color:#77adea;
		 border : 1px solid gray;
}

hr {
	height: 1px;
	background: #bbbbbb;
	background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
	background-image: -moz-linear-gradient(left, #eee, #777, #eee);
	background-image: -ms-linear-gradient(left, #eee, #777, #eee);
	background-image: -o-linear-gradient(left, #eee, #777, #eee);
	border: 0;
	margin: 5px 0;
}
