@charset "UTF-8";

#ticket-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.travel-ticket {
	border: 1px solid #5b5b5b;
	border-radius: 10px;
	width: 35%;
	height: 150px;
	overflow: hidden;
	margin-bottom: 20px;
}
.travel-ticket-link {
	display: flex;
	flex-direction: row;
}
.ticket-desc {
	width: 70%;
}
.ticket-desc-border {
	background-color: #51BCFF;
	height: 20px;
	color: white;
}
.ticket-desc-border > p {
	margin-left: 5px;
	font-size: medium;
}
.ticket-desc-main {
	background-color: white;
	height: 110px;
	text-align: center;
}
.ticket-title {
	font-size: x-large;
	font-weight: bold;
	height: 40px;
	padding-top: 25px;
}
.ticket-date {
	font-size: small;
}
.ticket-img {
	width: 30%;
}
.ticket-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.none {
	visibility: hidden;
}
.ticket-empty {
	background-color: #D0D5D8;
}
.ticket-empty img {
	padding: 50px 0;
	height: 50px;
	object-fit: cover;
}
.write_label {
	color: red;
	font-size: small;
	margin-left: 10px;
}
#add_btn {
	padding: 8px;
	border-radius: 7px;
}